




/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a2e;
  padding: 7px 25px;
} */



/* .nav-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
} */



/* .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
} */

.search-btn:hover  {
  background-color: #4e9c0ddb !important;
  color: white !important;
  border: 1px solid #4e9c0d !important;
}